/* General Styles */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Montserrat:700');

body, button, input, select, textarea{
  font-family: 'Josefin Sans', sans-serif !important;
}
body small {
  font-size: 1em;
}
header h1 a {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    color: #444;
}
body .title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
span.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}
body .control.has-icons-left .icon, body .control.has-icons-right .icon {
    height: 1.8em;
    width: 1.8em;
}
/* Sticky Header */
body{
  padding-top: 52px !important;
}
header.is-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
nav .nav-item {
  font-size: 1.3rem;
}
nav .nav-left h1 {
    padding: 0px 10px;
}
/* Hero Section Styles */
#intro {
  background: url("./images/galaxy-background-blured.jpg") no-repeat fixed;
  background-size: cover;
}
.hero p {
  font-size: 1.4rem;
  font-weight: normal;
}
#intro.hero p{
  font-size: 2rem;
}
/* Particles Styles */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#particles-js {
  position: relative;
}
#particles-js .container {
    z-index: 1;
}
/* Chronogram Background */
#chronogram{
  background: url("./images/land-green.jpg") no-repeat fixed;
  background: url("./images/green-forest.jpg") no-repeat fixed;
  background-size: cover;
}
 /* Card Styles */
 .card.is-minimal{
   background-color: rgba(0, 60, 57, 0.23);
   box-shadow: 0px 2px 6px rgba(10, 10, 10, 0.3), 0 0 0 1px rgba(10, 10, 10, 0.1);
   color: #fff;
   border: 1px solid white;
   border-radius: 3px;
 }
 .card.is-minimal .card-header{
   border-bottom: 1px solid white;
 }
 .card.is-minimal .card-header-title {
   color: white;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
 }
 .card.is-minimal .card-content .content {
   color: white;
 }
 .card .icon{
   padding-right: 10px;
 }
 a.card-footer-item {
     font-size: 1.4rem;
 }
