/* General Styles */
body .title{
  font-weight: 600;
}
body .control.has-icons-left .icon, body .control.has-icons-right .icon {
    height: 1.8em;
    width: 1.8em;
}
/* Sticky Header */
body{
  padding-top: 52px !important;
}
header.is-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
/* Card Styles */
.card.is-minimal{
  background-color: transparent;
  box-shadow: 0px 2px 6px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #fff;
  border: 1px solid white;
  border-radius: 3px;
}
.card.is-minimal .card-header{
  border-bottom: 1px solid white;
}
.card.is-minimal .card-header-title {
  color: white;
  font-weight: 600;
}
.card.is-minimal .card-content .content {
  color: white;
}
.card .icon{
  padding-right: 10px;
}
/* Particles Styles */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#particles-js {
  position: relative;
}
#particles-js .container {
    z-index: 1;
}
 /* Hero Section Styles */
 .hero p {
     font-size: 1.3rem;
     font-weight: 200;
 }
